body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  header {
    background-color: #164863;
    color: #fff;
    text-align: center;
    padding: 2px;
  }
  
  .profile {
    text-align: center;
  }
  
  .profile img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 20px;
  }
  
  .contact {
    margin-top: 30px;
    text-align: center;
  }
  
  .contact h2 {
    color: #333;
  }
  
  .contact p {
    margin: 5px 0;
  }
  